[Unit]
Description=Alert SSH fail to Telegram
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/bash /usr/bin/ssh-alert.sh

[Install]
WantedBy=multi-user.target